extend account

append base
    br
    h3 Welcome to the Assault Rifle Info
    br
    div.top
        each weapon in weapons
            -var weaponUrl = '/account/weapon-types/assault-rifles/' + weapon.name
            -var imageUrl = weapon.imageURL
            .card-deck
                .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                    img.card-img-top(src=imageUrl alt='Assault Rifle Image')
                    .card-body
                    form(action=weaponUrl method='get')
                        button.btn.btn-primary(type='submit')= weapon.name