extend account

append base
    h3 Welcome to the Legends Page
        br
        br
    .card-deck.legends
        div.top
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.top-img.card-img-top(src="/images/268px-Bangalore_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Bangalore' method='get')
                    button.btn.btn-primary(type='submit') Bangalore
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.top-img.card-img-top(src="/images/268px-Bloodhound_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Bloodhound' method='get')
                    button.btn.btn-primary(type='submit') Bloodhound
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.top-img.card-img-top(src="/images/268px-Caustic_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Caustic' method='get')
                    button.btn.btn-primary(type='submit') Caustic
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.top-img.card-img-top(src="/images/268px-Crypto_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Crypto' method='get')
                    button.btn.btn-primary(type='submit') Crypto
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.top-img.card-img-top(src="/images/268px-Gibraltar_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Gibraltar' method='get')
                    button.btn.btn-primary(type='submit') Gibraltar
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.top-img.card-img-top(src="/images/268px-Lifeline_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Lifeline' method='get')
                    button.btn.btn-primary(type='submit') Lifeline
        div.bottom       
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.bottom-img.card-img-top(src="/images/268px-Mirage_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Mirage' method='get')
                    button.btn.btn-primary(type='submit') Mirage
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.bottom-img.card-img-top(src="/images/268px-Octane_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Octane' method='get')
                    button.btn.btn-primary(type='submit') Octane
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.bottom-img.card-img-top(src="/images/268px-Pathfinder_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Pathfinder' method='get')
                    button.btn.btn-primary(type='submit') Pathfinder
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.bottom-img.card-img-top(src="/images/268px-Wattson_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Wattson' method='get')
                    button.btn.btn-primary(type='submit') Wattson
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.bottom-img.card-img-top(src="/images/268px-Wraith_Icon.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/legends/Wraith' method='get')
                    button.btn.btn-primary(type='submit') Wraith
    //- div#legends
    //-     each legend in legends
    //-         -var legendUrl = '/account/legends/' + legend.name
    //-         -var imageUrl = legend.imageURL
    //-         .card-deck
    //-             .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
    //-                 img.card-img-top(src=imageUrl alt='Legend Image')
    //-                 .card-body
    //-                 a.card-title(href=legendUrl)= legend.name

                    
                    