extend account

append base
    br
    h3 Welcome to the Shotgun Info
    br
    div.top
        each weapon in weapons
            -var weaponUrl = '/account/weapon-types/shotguns/' + weapon.name
            -var imageUrl = weapon.imageURL
            .card-deck
                .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                    img.card-img-top(src=imageUrl alt='Shotgun Image')
                    .card-body
                    a.card-title(href=weaponUrl)= weapon.name