extend account

append base
    .container 
        .row
            .col
                h1 Apex User Data - Account Management
                br 
                form(action='/account/manageScreenNameAndPlatform' method='get')
                    button.btn.btn-primary(type='submit') Update Screen Name & Platform
                br
                br
                form(action='/account/managePassword' method='get')
                    button.btn.btn-primary(type='submit') Update Password
                br
                br 
                form(action='/account/manageDelete' method='get')
                    button.btn.btn-primary(type='submit') Delete Account