extend account

append base
    .container 
        .row
            .col
                h1 Apex User Data - Password Management
                br 
                form(method="POST" action="/account/updatePassword")
                    .form-group
                        label(for='password') Change Password
                        input#screen_name.form-control(type="password" aria-describedby='emailHelp' placeholder='Change Password' name="password")
                        br
                    button.btn.btn-primary Submit