extend account

append base
    .card-deck
        div.top
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Assault-Rifles-300x164.png" alt='Apex Legend Image')
                .card-body
                button.btn.btn-primary.card-title
                    a.card-title(href='/account/weapon-types/assault-rifles') Assault Rifles
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Sub-Machine-Guns-300x164.png" alt='Apex Legend Image')
                .card-body
                button.btn.btn-primary.card-title
                    a.card-title(href='/account/weapon-types/smgs') Sub Machine Guns
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Light-Machine-Guns-300x164.png" alt='Apex Legend Image')
                .card-body
                button.btn.btn-primary.card-title
                    a.card-title(href='/account/weapon-types/lmgs') Light Machine Guns
        div.bottom
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Pistols-300x164.png" alt='Apex Legend Image')
                .card-body
                button.btn.btn-primary.card-title
                    a.card-title(href='/account/weapon-types/pistols') Pistols
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Shotguns-300x164.png" alt='Apex Legend Image')
                .card-body
                button.btn.btn-primary.card-title
                    a.card-title(href='/account/weapon-types/shotguns') Shotguns
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Sniper-Rifles.png" alt='Apex Legend Image')
                .card-body
                button.btn.btn-primary.card-title
                    a.card-title(href='/account/weapon-types/snipers') Sniper Rifles