extend account

append base
    .card-deck
        div.top
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Assault-Rifles-300x164.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/weapon-types/assault-rifles' method='get')
                            button.btn.btn-primary(type='submit') Assault Rifles
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Sub-Machine-Guns-300x164.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/weapon-types/smgs' method='get')
                            button.btn.btn-primary(type='submit') Sub Machine Guns
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Light-Machine-Guns-300x164.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/weapon-types/lmgs' method='get')
                            button.btn.btn-primary(type='submit') Light Machine Guns
        div.bottom
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Pistols-300x164.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/weapon-types/pistols' method='get')
                            button.btn.btn-primary(type='submit') Pistols
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Shotguns-300x164.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/weapon-types/shotguns' method='get')
                            button.btn.btn-primary(type='submit') Shotguns
            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                img.card-img-top(src="/images/Apex-Legends-Sniper-Rifles.png" alt='Apex Legend Image')
                .card-body
                form(action='/account/weapon-types/snipers' method='get')
                            button.btn.btn-primary(type='submit') Sniper Rifles