extend layout

block content
    div(class="boxshadow")
        br
        br
        br
        br
        h1 Welcome!!
        h1 This is The Apex Legend User Information Page
       
        
        